.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
    
  svg:hover {
    cursor: pointer;
  }

  svg {
    width: 80%;
  }
  
  
  @media screen and (min-width: 992px) {
    svg {
      width: 450px;
    }
  }
  
  @media screen and (min-width: 720px) {
    svg {
      width: 450px;
    }
  }
  
  @media screen and (min-width: 920px) {
    svg {
      width: 450px;
    }
  }
}

.button {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}



