.menu-container {
  @media screen and (min-width: 576px) {
    display: flex;
    justify-content: center;
  }  
}

.menu {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breakpoint {
  width: 100%;
}