@media screen and (min-width: 992px) {
  .menu {
    padding: 60px 0;
  }
}

.menu {
  height: 100%;
  opacity: 0;
}

.breakpoint {
  height: 100%;

  @media screen and (min-width: 992px) {
    padding: 60px 0;
  }
}
