.page {
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding: 40px 20px;

  @media only screen and(min-width: 576px) {
    padding: 0;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
  }
}

.container {
  width: 90%;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 500px;
  }
}

.education,
.experience {
  .header {
    display: flex;
    justify-content: space-between;

    p {
      color: lighten(#000000, 50%);
    }

    p,
    b {
      margin-bottom: 0;
    }
  }

  .title {
    color: lighten(#000000, 50%);
    margin-bottom: 30px;
  }
}