.page {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;

  @media only screen and(min-width: 500px) {
    padding: 60px 0;
    min-height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.container {
  opacity: 0;
  width: 90%;
  
  @media screen and (min-width: 500px) {
    width: 500px;
  }
}


.education,
.experience {
  .header {
    display: flex;
    justify-content: space-between;

    p {
      color: lighten(#000000, 50%);
    }

    p,
    b {
      margin-bottom: 0;
    }
  }

  .title {
    color: lighten(#000000, 50%);
    margin-bottom: 30px;
  }
}