.menu {
  position: fixed;
  text-align: center;
  width: 100%;

  $white: red
}

.menu-container-inner {
  overflow: auto;
  overscroll-behavior-y: contain;
  display: flex;
  justify-content: center;
}