.personal-container {
  &:hover {
    cursor: pointer;
  }

  svg {
    width: 100%;
  }
  
  @media screen and (min-width: 576px) {
    svg {
      width: 90%;
    }
  }
  
  @media screen and (min-width: 720px) {
    margin-top: 70px;

    svg {
      width: 650px;
    }
  }
  
  @media screen and (min-width: 920px) {
    margin-top: 80px;
    svg {
      width: 650px;
    }
  }
}

.personal {
  fill: #000000;
}
